.sidebar {
    height: 100%;
    display: run-in;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-block: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.info_container img{
    align-items: center;
    margin-left: 75px;
}
.info_container{
    border-style: solid;
    color:azure;
    align-items: center;
    transform: width 0.5s;
    background-color: gray;
    border-color: rgb(88, 88, 88);
    border-radius: 10px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.info_container p{
    font-size: 30px;
    align-content: center;
    overflow-x: break-word;
    margin-left: 50px;
    text-decoration: none;
    transition: 0.5s;
}
.toggle{
    background-color: transparent;
    color:rgb(42, 42, 42);
    height: 45px;
    border-color: transparent;
    
}
.toggle p{
    font-size:50px;
}
.profile{
    width:100px;
    height: 100px;
}
.contacts{
    list-style: none;
    overflow-wrap: unset;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contacts img{
    margin-left: 30px;
    list-style: none;
    float: left;
    display: grid;
    overflow-wrap: unset;
    transition: 0.5s;

}
.contacts img:hover{
    border-style:dashed;
    transform: scale(1.1);
    border-width: 10px;
    border-color: grey;
    overflow-wrap: unset;
}
.Header{
    background-color: grey;
}
.Tabs{
    border-style: solid;
    position:block;
    display: block;
    background-color: grey;
    color: azure;
    top:5rem;
    bottom: 5rem;
}
.Tabs a {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: azure;
    display: block;
    overflow-x:line;
    transition: 0.3s;
}
.Tabs a:hover{
    color:black;
    font-size: 35px;
    transition: 0.3s
}
.Tabs a:onclick {
    color:#111;
    font-size: 35px;
    font-weight: bold
}
.tab{
    display: none;
}
body{
   background-color:whitesmoke;
}
ul {
    margin: 5px;
    padding: 10px;
}
.tab{
    margin-top: 10px;
    border-style: solid;
    margin-left: 50px;
    font-size: 45px;
    background:black;
    height: 650px;
    width: 800px;
    border-width:20px;
    border-color: grey;
    border-radius: 20px;
}
.tab p{
    margin-left: 10px;
    margin-right:10px;
    color:white;
    font-family: 'Lucida Sans';
}
.tabcontainer {
    list-style-type:none;
    position:absolute;
    left:60rem;
    top:7rem;
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-style: dashed;
}
.tabcontainer li {
    width: calc(50% - 10px);
    margin: 5px;
    background-color: gray; 
}
.tabcontainer img{
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%; 
    height: auto;
    
}
.tabcontainer img:hover{
    transform: translate(20px, 30px);
}